doctype html
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Health and Fitness Club  
        style    
            include dashboard.css
    

        body 
            

            div(id="welcome-message")
                h2 Welcome #{user} (Admin)
            div(id="links")
                button(class="buttons", id="manageEquipment" onclick="document.location='/equipmentPage'") Manage Equipment!
                br
                button(class="buttons", id="updateClassSchedule" onclick="document.location='/updateClasses'") Update Class! 
                br
                button(class="buttons", id="payment" onclick="document.location='/processPayments'") Process Member Payments 