body{
    background-color: aliceblue;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
}

#memberInfo{
    background-color: #bed7e8;
    border-radius:30px;
    padding: 1%;
    margin-left: 1%;
}

.inputs{
    background-color: #bed7e8;
    border-radius:15px;
    padding: 2%;
    margin-top: 2%;
    margin-left: 1%;
}

.buttons{
    background-color: #a5c9e2;
    padding: 2%;
    margin-top: 2%;
    margin-left: 1%;
}