doctype html
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Health and Fitness Club
        style 
            include login.css

        body 
            
            div(id="login")
                h2 Welcome to Health and Fitness Club
                h1(id="design")
            legend Enter your Login Information 
            input(type="text" id="username" placeholder="Enter Username")
            br
            br
            input(type="password" id="password" placeholder="Enter Password")
            br
            p(id="userError")
            p(id="passError")
            p(id="wrongpass")
            button(type='submit', id="loginbutton", onclick='loginInfo()') Login!       
            p If you don't have an account, 
            button(type='button', id='newUser', onclick='signupPage()') Create New User
        script 
            include login.js
