doctype html
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Health and Fitness Club 
        style 
            include manageEquipment.css

        body 
            h2 Manage Equipement 
            - let number = 0
            each equip in equipment 
                p _____________________________
                p(id="nameequip" + number) #{equip.nameofmachine}
                p(id="nextcheckup" + number) Next Checkup: #{equip.nextcheckup}
                p(id="lastcheckup" + number) Last Checkup: #{equip.lastcheckup}
                p(id="notableissues" + number) #{equip.notableissues}
                button(id="submit" onclick="sendMachine(" + number + ")") Send Machine For Checkup 
                - nuumber = number + 1 

        script
            include manageEquipment.js 
