doctype html
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Health and Fitness Club 
        style   
            include dashboard.css

        body 
            

            div(id="welcome-message")
                h2 Welcome #{user} (Trainer)
            div(id="links")
                button(class="buttons", id="manageSchedule" onclick="document.location='/trainerSchedule'") Manage Schedule!
                br
                button(class="buttons", id="viewMember" onclick="document.location='/viewMemberProfile'") View Members Profile!
