doctype html
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Health and Fitness Club 
        style 
            include trainerSchedule.css 

        body 
            h2 Manage Schedule 

            div(class="column left", id="scheduleManagement")
                br
                label(for="dateOfAvailability") Date of Availability:
                br
                input(type="date", id="dateOfAvailability", name="dateOfAvailability", placeholder="Choose Date")
                br
                br 
                label(for="pickStartTime") Specify Start Time:
                br
                input(type="time" id="pickStartTime" name="pickStartTime" min="08:00") 
                br
                br
                input(type="time" id="endTime" readonly)
                br
                br
                button(type='submit', id="submit", onclick='submit()') Submit!

            div(class="column middle")
                p                
                p               

            div(class="column right", id='previousLogs')
                h4 Schedule: 
                each schedule in previousLogs
                    p ________________________________
                    p Date: #{schedule.dateofavailability}
                    p Start Time: #{schedule.starttime}
                    p End Time: #{schedule.endtime}
                    p Duration: 2 hours
        script 
            include trainerSchedule.js
