doctype html
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title TITLE OF PROJECT 

        body 
            h2 Manage Schedule 

            div(id="scheduleManagement")
                h4 Schedule: 
                br
                br
                br
                label(for="dateOfAvailability") Date of Availability:
                br
                input(type="date", id="dateOfAvailability", name="dateOfAvailability", placeholder="Choose Date")
                br
                br 
                label(for="pickStartTime") Specify Start Time:
                br
                input(type="time" id="pickStartTime" name="pickStartTime" min="08:00") 
                br
                br
                input(type="time" id="endTime" readonly)
                br
                br
                h4 Duration: 
                p Start: #{startTime}
                p End: #{endTime}
                br
                br
                br
                button(type='submit', id="submit", onclick='submit()') Submit!
        script 
            include trainerSchedule.js
